%h1 Afazeres
%table
  %thead
    %tr
      %th= link_to "Nome", user_duties_path(current_user.id, field_order: 'name')
      %th= link_to "Importância", user_duties_path(current_user.id, field_order: 'importance')
      %th= link_to "Frequência", user_duties_path(current_user.id, field_order: 'frequency')
      %th Pet
      %th= link_to "Prazo", user_duties_path(current_user.id, field_order: 'until')
      %th= link_to "Feito?", user_duties_path(current_user.id, field_order: 'done')
      %th{:colspan => "3"}
  %tbody
    - @duties.each do |duty|
      %tr
        %td= link_to duty.name, [duty.pet, duty]
        %td= duty.importance
        %td= duty.frequency
        %td= duty.pet.name
        %td= duty.until
        %td= check_box_tag 'feito', duty.id,  duty.done, data: { remote: true, url: duty_done_path(duty.pet, duty, done: !duty.done), method: 'post'}
        %td= link_to 'Apagar', [duty.pet, duty],  confirm: 'Tem certeza?', method: :delete
