%h1 Afazeres
%table
  %thead
    %tr
      %th Nome
      %th Descrição
      %th Importância
      %th Frequência
      %th Pet
      %th Necessidade Associada
      %th Feito?
      %th{:colspan => "3"}
  %tbody
    - @duties.each do |duty|
      %tr
        %td= link_to duty.name, [duty.pet, duty]
        %td= duty.name
        %td= duty.description
        %td= duty.importance
        %td= duty.frequency
        %td= duty.pet.name
        %td= duty.need.name
        %td= duty.done
        %td= link_to 'Editar', edit_pet_duty_path(duty.pet, duty)
        %td= link_to 'Apagar', [duty.pet, duty],  confirm: 'Tem certeza?', method: :delete
