.card-deck
  - @friends.each do |user|
    .card{:style => "min-width: 250px; max-width: 250px"}
      - if user.picture.attached?
        = link_to (image_tag(user.picture)), user_path(user.id)
      - else
        = link_to (image_tag('profile_user.jpg')), user_path(user.id)
      .card-body
        %h5.card-title= user.name
        %p.card-text= user.user.email
        %h7.card-text Grupos:
        - user.groups.each do |group| 
          = link_to "#{group.name} ", group_path(group)
        


