%p
  %strong Nome:
  = @user.first_name+" "+@user.last_name
%p
  %strong Email:
  = current_user.email
%p
  %strong Telefone:
  = @user.phone
%p
  %strong Data de nascimento:
  = @user.birthday
%p
  %strong Endereço:
  = @user.address