%h4.card-title.text-center.mb-4.mt-1
  PLEASE DON`T DIE
%hr/
%p.text-success.text-center
= form_for(resource, as: resource_name, url: session_path(resource_name),class: "form-signin") do |f|
  .form-group
    .input-group
      .input-group-prepend
        %span.input-group-text
          %i.fa.fa-envelope 
      = f.email_field :email, autofocus: true, autocomplete: "email",type:"email", id:"inputEmail", class: "form-control", placeholder:"Email"
  .form-group
    .input-group
      .input-group-prepend
        %span.input-group-text
          %i.fa.fa-lock
      = f.password_field :password, autocomplete: "off",type:"password", id:"inputPassword", class: "form-control", placeholder:"Senha", required: true
  .input-group
    .checkbox
      %label
      - if devise_mapping.rememberable?
        = f.check_box :remember_me
        Lembrar-me
  .form-group
    = f.submit "Entrar",class: "btn btn-lg btn-primary btn-block", type:"submit"
%hr/
.card-header.bg-light.text-center
  = link_to "Esqueceu sua senha?", new_password_path(resource_name)