.container
  %hr/
  .row
    .col-md-3
      = render 'layouts/sidemenu'
    .col-md-9
      %h1 Afazeres teste
      %table.table.table-striped
        %thead
          %tr
            %th{:scope => "col"} Nome
            %th{:scope => "col"} Descrição
            %th{:scope => "col"} Importância
            %th{:scope => "col"} Frequência
            %th{:scope => "col"} Pet
            %th{:scope => "col"} Necessidade Associada
            %th{:scope => "col"} Feito?
            %th{:colspan => "3"}
        %tbody
          - @duties.each do |duty|
            %tr
              %th{:scope => "row"}
              %td= link_to duty.name, [duty.pet, duty]
              %td= duty.name
              %td= duty.description
              %td= duty.importance
              %td= duty.frequency
              %td= duty.pet.name
              %td= duty.need.name
              %td= duty.done
              %td= link_to 'Editar', edit_pet_duty_path(duty.pet, duty)
              %td= link_to 'Apagar', [duty.pet, duty],  confirm: 'Tem certeza?', method: :delete
      %br/
      = link_to 'Novo afazer', new_pet_duty_path(@pet)
      = link_to 'Voltar ao Grupo', group_path(@pet.group)




%table.table.table-striped
  %thead
    %tr
      %th{:scope => "col"} #
      %th{:scope => "col"} First
      %th{:scope => "col"} Last
      %th{:scope => "col"} Handle
  %tbody
    %tr
      %th{:scope => "row"} 1
      %td Mark
      %td Otto
      %td @mdo
    %tr
      %th{:scope => "row"} 2
      %td Jacob
      %td Thornton
      %td @fat
    %tr
      %th{:scope => "row"} 3
      %td Larry
      %td the Bird
      %td @twitter
