<p id="notice"><%= notice %></p>

<h1>Afazeres</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Importance</th>
      <th>Frequency</th>
      <th>Pet</th>
      <th>Need</th>
      <th>Done</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @duties.each do |duty| %>
      <tr>
        <td><%= link_to duty.name, [duty.pet, duty] %></td>
        <td><%= duty.name %></td>
        <td><%= duty.description %></td>
        <td><%= duty.importance %></td>
        <td><%= duty.frequency %></td>
        <td><%= duty.pet %></td>
        <td><%= duty.need %></td>
        <td><%= duty.done %></td>
        <td><%= link_to 'Editar', edit_pet_duty_path(duty.pet, duty) %></td>
        <td><%= link_to 'Apagar', [duty.pet, duty],  confirm: 'Tem certeza?', method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo afazer', new_pet_duty_path(@pet) %>
<%= link_to 'Voltar ao Grupo', group_path(@pet.group) %>
