<h1>Seus Pets</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Aniversário</th>
  </tr>

  <% @pets.each do |pet| %>
    <tr>
      <td><%= link_to pet.name, [pet.group, pet] %></td>
      <td><%= pet.birthday.strftime("%d/%m/%Y") %></td>
      <td><%= link_to 'Editar', edit_group_pet_path(pet.group, pet) %></td>
      <td><%= link_to 'Apagar', [pet.group, pet], :confirm => 'Tem certeza?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'Novo Pet', new_group_pet_path(@group) %> |
<%= link_to 'Voltar ao Grupo', group_path(@group) %>
