.container
  %hr/
  .row
    .col-md-3
      = render 'layouts/sidemenu'
    .col-md-9
      %p#notice= notice
      %p
        - if @pet.image.attached?
          = image_tag @pet.image
        %b Nome:
        = @pet.name
      %p
        %b Biografia:
        = @pet.bio
      %p
        %b Aniversário:
        = @pet.birthday.strftime("%d/%m/%Y")
      %p
        %b Sexo:
        = @pet.sex
      %b Espécie:
      = @specie.name
      %br/
      %strong
        = link_to 'Adicionar Afazer', new_pet_duty_path(@pet)
      %br/
      = link_to 'Editar', edit_group_pet_path(@pet.group, @pet)
      |
      \#{link_to 'Voltar', group_pets_path(@pet.group)}
