<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @pet.name %>
</p>
<p>
  <b>Biografia:</b>
  <%= @pet.bio %>
</p>
<p>
  <b>Aniversário:</b>
  <%= @pet.birthday %>
</p>
<p>
  <b>Sexo:</b>
  <%= @pet.sex %>
</p>
  <b>Espécie:</b>
  <%= %>

</p>
<%= link_to 'Editar', edit_group_pet_path(@pet.group, @pet) %> |
<%= link_to 'Voltar', group_pets_path(@pet.group) %>
