.container
  %hr/
  .row
    .col-md-3
      = render 'layouts/sidemenu'
    .col-md-9
      .row
        .col-md-4
          .img-thumbnail
            - if @pet.image.attached?
              =image_tag @pet.image
            - else
              =image_tag 'profile_user.jpg'
          %p
            = link_to 'Editar pet', edit_group_pet_path(@pet.group, @pet), class: "btn btn-lg btn-primary btn-block"
          %p
            = link_to 'Adicionar tarefa', new_pet_duty_path(@pet), class: "btn btn-lg btn-light btn-outline-primary btn-block"
        .col-md-8
          %p
            %strong Nome:
            = @pet.name
          %p
            %strong Biografia:
            = @pet.bio
          %p
            %strong Aniversário:
            = @pet.birthday.strftime("%d/%m/%Y")
          %p
            %strong Sexo:
            = @pet.sex
          %p
            %strong Endereço:
            = @user.address

