.container
  %hr/
  .row
    .col-md-3
      = render 'layouts/sidemenu'
    .col-md-9
      %h1 Grupos
      = link_to 'Novo Grupo', new_group_path
      .card-group
        - @groups.each do |group|
          .card{:style => "min-width: 250px; max-width: 250px;"}
            - if group.picture.attached?
              =image_tag group.picture
            - else
              =image_tag 'profile_user.jpg'
            .card-body
              %h5.card-title
                = link_to group.name, group
              %p.card-text
                Descricao do Grupo
              %p.card-text
                %small.text-muted colocar aqui quando foi atualizado...
              = link_to '', edit_group_path(group), class: "btn btn-primary fa fa-edit"
              %i.fa.fa-trash-alt
              = link_to '', group, class: "btn btn-danger fa fa-times-circle", method: :delete, data: { confirm: 'Tem certeza?' }