.container
  %hr/
  .row
    .col-md-3
      = render 'layouts/sidemenu'
    .col-md-9
      %h1
        = link_to 'Novo Grupo', new_group_path, class: "btn btn-primary"
      .card-deck
        - @groups.each do |group|
          .card{:style => "min-width: 250px; max-width: 250px;"}
            .card-header.text-center
              = group.name
            - if group.picture.attached?
              = link_to (image_tag(group.picture)), group
            - else
              = link_to (image_tag('profile_user.jpg')), group
            .card-body.text-center
              %p.card-text
                Descricao do Grupo
              = link_to '', edit_group_path(group), class: "btn btn-primary fa fa-edit"
              %i.fa.fa-trash-alt
              = link_to '', group, class: "btn btn-danger fa fa-times-circle", method: :delete, data: { confirm: 'Tem certeza?' }
            .card-footer
              %small.text-muted
                = "Atualizado em " + group.updated_at.localtime.strftime('%a, %d %b %Y %H:%M')
