<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @group.name %>
</p>


<h2>Usuário</h2>
<table>
  <thead>
    <tr>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @group.profile_users.each do |user| %>
      <tr>
        <td><%= user.user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h2>Pet</h2>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @group.pets.each do |pet| %>
      <tr>
        <td><%= pet.name %></td>
<!--        <td><%#= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>


<p>
  <%= link_to 'Pets', group_pets_path(@group) %> |
  <%= link_to "Novo Pet", new_group_pet_path(@group), id:'novo-pet' %>
</p>
<p>
  <%= link_to 'Editar', edit_group_path(@group) %> |
  <%= link_to 'Voltar', groups_path %>
</p>

<%= form_tag(add_group_user_path(@group.id)) do |form| %>

  <div class="field">
    <%= label_tag :email, "Email do usuário:" %>
    <%= text_field_tag :email %>
    <%= submit_tag "Adicionar" %>
  </div>
<% end %>
