<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.first_name %> <%= @user.last_name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @user.phone  %>
</p>

<% if @user.group_id %>
  <%= link_to 'Group', group_path(@user.group_id) %>
<% else %>
  <%= link_to 'Add Group', new_group_path %>
<% end %>