%h2 Esqueceu sua senha?
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  .form-group
    .input-group
      .input-group-prepend
        %span.input-group-text
          %i.fa.fa-envelope 
      = f.email_field :email, autofocus: true, autocomplete: "email",type:"email", id:"inputEmail", class: "form-control", placeholder:"Email"
  .actions
    = f.submit "Enviar redefinição de senha",class: "btn btn-lg btn-primary btn-block", type:"submit"
- unless devise_error_messages!.blank?
  - resource.errors.full_messages.each do |message|
    = javascript_tag "$.notify( { message: '#{message}'}, { type: 'danger', placement: { from: 'top', align: 'center' }})"
