%nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom
  .container
    %a.navbar-brand{:href => home_path} Please Don't Die
    %button.navbar-toggler{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        -if user_signed_in?
          %li.nav-item
            = link_to current_user.profile_user.first_name+" "+current_user.profile_user.last_name, user_path(current_user.id), class: "nav-link"
          %li.nav-item
            = button_to "Sair", destroy_user_session_path, :class => "nav-link btn btn-sm btn-outline-secondary", method: :delete
        -else
          %li.nav-item
            = current_user
          %li.nav-item
            = link_to "Cadastre-se", new_user_registration_path, :class => "nav-link"
          %li.nav-item
            = link_to "Entrar", new_user_session_path, :class => "nav-link"
