.text
  .list-group.list-group-flush
    .list-group-item.list-group-item-action
      = link_to 'Perfil',user_path(current_user.id)
    .list-group-item.list-group-item-action
      = link_to "Email e Senha", edit_user_registration_path(current_user.id)
    .list-group-item.list-group-item-action
      = link_to 'Grupos', groups_path
    .list-group-item.list-group-item-action
      = link_to 'Adicionar grupo', new_group_path
    .list-group-item.list-group-item-action
      = link_to 'Amigos', user_friends_path(current_user.id)
    .list-group-item.list-group-item-action
      = link_to 'Pets', user_pets_path(current_user.id)
    .list-group-item.list-group-item-action
      = link_to 'Afazeres', user_duties_path(current_user.id)
