!!!
%html
  %head
    %title PleaseDontDie
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = stylesheet_link_tag    'user', media: 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag 'user'
    %link{:href => "css/uikit.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/responsive.css", :media => "only screen and (max-width: 1200px)", :rel => "stylesheet"}/
  %body
    = render 'layouts/navbar'
    .container{:style => "padding-top: 3%;" }
      %article.card-body.bg-info.mx-auto{:style => "max-width: 400px; padding-top: 25px;"}
        = yield
        = render 'layouts/shared/notifications'